/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  height: 100%;
}
body {
  height: 100%;
}
.container {
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}
 .header {
   background-color: silver;
   height: 50px;
   font-size: 1rem;
 }
 .top_menu li {
  float: left;
  width: auto;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.top_menu li a:hover {
  text-decoration: underline;
}
.wrapper{
  padding-bottom: 100px;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  padding-bottom: 100px;
}
.footer{
  background-color: silver;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: table;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
